
a, h1, h3, .footer {
  color:white;
  text-align:center;
}

h1 {
  // padding-top:10vh;
  font-family: 'Digital 7', sans-serif;
  font-size: 3rem;
  letter-spacing: 2px;
}

.allcaps {
  text-transform: uppercase;
}

.wrapper {
  display:flex;
  align-items:center;
  justify-content:top;
  flex-direction:column;
  flex-wrap: wrap;
  height:60vh;
}

body {
  background: url(images/mars-mission.jpg)no-repeat top center;;
}

.footer {
    height:10vh;
    font-family:sans-serif;
}
